/*** App ***/
.app {
    height: 100%;
    width: 100%;
}

.app-data {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rebeccapurple;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*** Preview ***/

.preview {
    display: inline-flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
    justify-content: center;
}

.side-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.preview-middle-part, .preview-bottom-part {
    display: inline-flex;
    align-items: center;
}

.preview-middle-part {
    margin: -2px 0;
}

/*** Preview parts ***/

.preview-part {
    border: 2px black solid;
    transition-duration: 0.2s;
}

.preview-part:hover {
    outline: 3px solid rgba(0, 0, 0, 0.3);
}

.preview-head {
    width: 80px;
    height: 80px;
    border-bottom: none;
    margin: -2px 0;
}

.preview-body {
    width: 80px;
    height: 140px;
    border: none;
}

.preview-left-hand, .preview-right-hand {
    width: 40px;
    height: 140px;
}

.preview-left-hand {
    border-right: none;
}

.preview-right-hand {
    border-left: none;
}

.preview-left-leg, .preview-right-leg{
    width: 40px;
    height: 140px;
}

.preview-left-leg {
    border-top: none;
    border-right: none;
}

.preview-right-leg {
    border-top: none;
    border-left: none;
}

.mirrored {
    transform: scaleX(-1);
}

/*** Control panel ***/

.control-panel {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.control-panel-button {
    height: 30px;
    width: 165px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin: 4px 0;
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    cursor: pointer;
    transition-duration: 0.4s;
}

.control-panel-button:hover {
    box-shadow: 0 0 12px #dd43ff;
}

.control-panel-button:active {
    box-shadow: 0 0 12px rebeccapurple;
    color: black;
    background-color: white;
    transition-duration: 0.2s;
}

/*** Palette ***/
