/*** App ***/
.app {
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*** Preview ***/

.preview {
    display: inline-flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
    justify-content: center;
}

.side-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.preview-middle-part, .preview-bottom-part {
    display: inline-flex;
    align-items: center;
}

/*** Preview parts ***/

.preview-part {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*overflow: hidden;*/
    background-image: url('../img/no-texture.png');
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    transition-duration: 0.2s;
    z-index: 1;
}

.preview-part:hover {
    z-index: 3;
    opacity: 0.75;
}

.preview-part:active {
    z-index: 3;
    opacity: 0.4;
}

.preview-head {
    width: 80px;
    height: 80px;
    border-bottom: none;
    z-index: 3;
}

.preview-body {
    width: 80px;
    height: 140px;
    border: none;
    z-index: 2;
}

.preview-left-hand, .preview-right-hand {
    width: 40px;
    height: 140px;
}

.preview-left-leg, .preview-right-leg{
    width: 40px;
    height: 140px;
}

.mirrored {
    transform: scaleX(-1);
}

/*** Controls ***/

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controls-middle {
    display: flex;
    flex-direction: column;
    width: 624px;
}

/*** Control buttons ***/

.control-button {
    height: 30px;
    width: 250px;
    font-size: 14px;
    line-height: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    cursor: pointer;
    transition-duration: 0.4s;
}

.control-button-disabled {
    opacity: 0.5;
}

.control-button:hover {
    background-color: mediumpurple;
}

.skin-part-selection-buttons, .bottom-control-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-control-buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 624px;
    height: 30px;
    margin-bottom: 20px;
}

.top-control-button {
    margin: 0;
    width: 210px;
}

/*** Control buttons - Special ***/

.skin-part-selection-button-active {
    background-color: darkviolet;
}

.skin-part-selection-button-active:hover {
    background-color: darkviolet;
}


.delete-texture-button:hover {
    background-color: darkred;
}

.top-control-button, .skin-part-selection-button, .bottom-control-button {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.top-control-button:first-child, .skin-part-selection-button:first-child, .bottom-control-button:first-child {
    border-left: none;
    border-right: 1px solid white;
}

.top-control-button:last-child, .skin-part-selection-button:last-child, .bottom-control-button:last-child {
    border-left: 1px solid white;
    border-right: none;
}

.skin-part-selection-button:last-child {
    border-right: 1px solid rebeccapurple;
}

/*** Palette ***/

.palette {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 250px;
    width: calc(100% - 2px);
    border: 1px solid rebeccapurple;
    overflow-y: scroll;
}

.palette::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.palette::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.palette::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rebeccapurple;
}

.paletteElement {
    display: flex;
    position: relative;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    margin: 10px;
    border: 1px solid rebeccapurple;
    box-shadow: 0 0 12px rebeccapurple;
}

/*** Canvas ***/

.renderedPart {
    position: absolute;
}

/*** Other ***/

.app-data {
    display: block;
    width: 624px;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rebeccapurple;
    margin: 10px auto;
}

.app-data .column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.app-data .data {
    display: block;
    width: 100%;
    margin: 5px 0;
    color: black;
}

.app-data .data span {
    color: rebeccapurple;
}

.app-data .selected-textures {
    color: black;
}

.app-data .selected-textures .data {
    color: rebeccapurple;
}

.hidden {
    display: none;
}

.palette-element-data {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: white;
    background-color: rebeccapurple;
    line-height: 10px;
    font-family: "Courier New", Courier, monospace;
}
