/*** Preview ***/

.preview {
    display: inline-flex;
    flex-direction: row;
}

.side-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.preview-middle-part, .preview-bottom-part {
    display: inline-flex;
    align-items: center;
}

.preview-middle-part {
    margin: -2px 0;
}

/*** Preview parts ***/

.preview-part {
    border: 2px black solid;
    transition-duration: 0.2s;
}

.preview-part:hover {
    outline: 3px solid rgba(0, 0, 0, 0.3);
}

.preview-head {
    width: 80px;
    height: 80px;
    border-bottom: none;
    margin: -2px 0;
}

.preview-body {
    width: 80px;
    height: 140px;
    border: none;
}

.preview-left-hand, .preview-right-hand {
    width: 40px;
    height: 140px;
}

.preview-left-hand {
    border-right: none;
}

.preview-right-hand {
    border-left: none;
}

.preview-left-leg, .preview-right-leg{
    width: 40px;
    height: 140px;
}

.preview-left-leg {
    border-top: none;
    border-right: none;
}

.preview-right-leg {
    border-top: none;
    border-left: none;
}

.mirrored {
    transform: scaleX(-1);
}
